In [44]:
import pandas as pd
import seaborn as sns

In [45]:
data = pd.read_csv('naukri.csv')

## Find the Companies which has Highest Openings for Job

In [46]:
data['industry'] = data['industry'].fillna(data['industry'].mode()[0])
data['Industry'] = data['industry'].str.split(' / ')
data['Industry'] = data['Industry'].apply(lambda x: x[0])

data['numberofpositions'] = data['numberofpositions'].fillna(1)
data['numberofpositions'] = data['numberofpositions'].astype('int')

data.loc[data.groupby(data['Industry'])['numberofpositions'].idxmax()][['company',
                                                                       'Industry',
                                    'numberofpositions']].sort_values(by = 'numberofpositions',
                                                                      ascending = False).head(5)

                        company     Industry  numberofpositions
20434  HCL Technologies Limited  IT-Software               2000
18173    Find Live Info Pvt Ltd      Fresher               1200
18182    Find Live Info Pvt Ltd  Advertising               1200
2175                  YOGAM BPO      Medical               1200
2491                  Yogam BPO       Pharma               1200

## Find the Company with Highest number of Sales Job

In [47]:
data['skills'] = data['skills'].fillna(data['skills'].mode()[0])
data['Skills'] = data['skills'].str.split(" - ")
data['Skills'] = data['Skills'].apply(lambda x: x[1] if len(x) > 1 else x[0])
data[(data['Skills'] == 'Sales')][['company','Skills','numberofpositions']].sort_values(by = 'numberofpositions',
                                                ascending = False).head(5).style.background_gradient(cmap = 'copper')

## Compare the No. of Openings using Time Series

In [48]:
data = data.dropna()
data['postdate'] = data['postdate'].str.split(" ")
data['postdate'] = data['postdate'].apply(lambda x: x[0])
data['postdate'] = pd.to_datetime(data['postdate'], errors='coerce')

data['post-year'] = data['postdate'].dt.year

data[['post-year','numberofpositions']].groupby(['post-year']).agg('sum').sort_values(by = 'numberofpositions',
                                                  ascending = False)

           numberofpositions
post-year
2016                   15697
2017                    1583
2015                       3

## Compare Job Openings for 2016 Monthly wise

In [57]:
import warnings
warnings.filterwarnings('ignore')

data['post-year'] = data['post-year'].astype('str')
x = data[data['post-year'] == '2016']
x['postdate'] = pd.to_datetime(x['postdate'])
x['Month'] = x['postdate'].dt.month

x[['Month','numberofpositions']].groupby(['Month']).agg('sum')

       numberofpositions
Month
1                      7
2                      3
3                      2
6                     14
10                   529
11                   827
12                 14315